/* static/style.css */

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #353636, #192a41);
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.controls-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.controls-group label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding: 8px;
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
}

.matrix-vector-container {
    display: flex;
    align-items: flex-start;
}

#A_container {
    margin-right: 0.5cm;
}

table {
    border-collapse: collapse;
}

td input {
    width: 60px;
    text-align: center;
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    color: white;
    padding: 4px;
}

.container {

    width: 1100px;
    margin: auto;
    padding: 40px;

}

.grid {

    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
}

h1 {
    color: #c5c5c5;
}

input,
textarea {

    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background: #2a2a2a;
    border: none;
    color: white;

}

button {
    width: 100% !important; /* Занимают всю ширину карточки */
    display: block;
    margin-bottom: 15px;
}

button {

    background: #ffffff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;

}

button:hover {
    background: #a9b6c9;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    padding: 4px;
    text-align: center;
}

td input {
    width: 60px;
    text-align: right;
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    color: white;
    padding: 4px;
}

th {
    color: #ffffff;
}

.b-header,
.b-cell {
    padding-left: 0.5cm;
}

#m, #n, #fileInput, #lambda {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    background: #2a2a2a;
    border: none;
    color: white;
}

#m, #n, #lambda, #fileInput, button{
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#Ab_container, #c_container, #d_container {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

td input {
    width: 60px !important;
    text-align: center;
    margin-bottom: 0;
}