<!DOCTYPE html>
<html>

<head>
    <title>СЗИ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>Оптимизация выбора СЗИ</h1>

        <div class="grid">

            <div class="card">

                <h2>Конфигурация параметров</h2>

                <label>Кол-во ГИА</label>
                <input id="m" value="3">

                <label>Кол-во СЗИ</label>
                <input id="n" value="5">

                <button onclick="generateGrids()">Создать матрицу</button>

                <h3>Импорт данных</h3>
                <input type="file" id="fileInput">
                <button onclick="uploadFile()">Загрузить из файла</button>

                <h3>Матрица A и вектор b</h3>
                <div id="Ab_container"></div>

                <label>Тип задачи</label>
                <select id="mode" onchange="toggleFuzzy()">
                    <option value="classic">Обычная</option>
                    <option value="fuzzy">Нечеткая</option>
                </select>

                <label>Метод дефаззификации</label>
                <select id="defuzz">
                    <option value="centroid">Среднее</option>
                    <option value="optimistic">Оптимистичный</option>
                    <option value="pessimistic">Пессимистичный</option>
                    <option value="mean_max">Вероятное</option>
                    <option value="hurwicz">Гурвиц</option>
                </select>

                <label>Режим вычисления</label>
                <select id="parallelMode">
                    <option value="true">Параллельный</option>
                    <option value="false">Последовательный</option>
                </select>

                <h3>Вектор c</h3>
                <div id="c_container"></div>

                <h3>Вектор d</h3>
                <div id="d_container"></div>

                <label>Коэффициент λ</label>
                <input id="lambda" value="0.5">

                <button onclick="solve()">Получить решение</button>

            </div>

            <div class="card">

                <h2>Результаты</h2>

                <p>Оптимальное значение</p>
                <h1 id="resultF">-</h1>

                <p>Выбранные СЗИ</p>
                <h2 id="resultIndices">-</h2>

                <p>Оптимальный вектор x</p>
                <h2 id="resultX">-</h2>

                <p>Время выполнения (сек)</p>
                <h2 id="resultTime">-</h2>

            </div>

        </div>

    </div>

    <script>

        let original_indices = [];

        function toggleFuzzy() {
            generateGrids();
        }

        function sortTriangular(a, b, c) {
            let arr = [a, b, c].map(x => Number(x) || 0);
            arr.sort((x, y) => x - y);
            return arr; // [L, M, R]
        }

        function autoSortTriangular(prefix, j) {

            let l = document.getElementById(`${prefix}_L_${j}`);
            let m = document.getElementById(`${prefix}_M_${j}`);
            let r = document.getElementById(`${prefix}_R_${j}`);

            let [L, M, R] = sortTriangular(l.value, m.value, r.value);

            l.value = L;
            m.value = M;
            r.value = R;
        }

        function generateGrids() {

            let m = +document.getElementById("m").value;
            let n = +document.getElementById("n").value;
            let mode = document.getElementById("mode").value;

            let Ab = document.getElementById("Ab_container");
            Ab.innerHTML = "";

            let table = document.createElement("table");

            let header = document.createElement("tr");
            header.appendChild(document.createElement("th"));

            for (let j = 0; j < n; j++) header.appendChild(document.createElement("th"));

            let thb = document.createElement("th");
            thb.innerText = "b";
            header.appendChild(thb);

            table.appendChild(header);

            for (let i = 0; i < m; i++) {

                let tr = document.createElement("tr");
                tr.appendChild(document.createElement("th"));

                for (let j = 0; j < n; j++) {

                    let td = document.createElement("td");
                    let inp = document.createElement("input");

                    inp.type = "number";
                    inp.id = `A_${i}_${j}`;

                    td.appendChild(inp);
                    tr.appendChild(td);
                }

                let tdB = document.createElement("td");
                let inpB = document.createElement("input");

                inpB.type = "number";
                inpB.id = `b_${i}`;

                tdB.appendChild(inpB);
                tr.appendChild(tdB);

                table.appendChild(tr);
            }

            Ab.appendChild(table);

            createVector("c_container", "c", n, mode);
            createVector("d_container", "d", n, mode);
        }

        function createVector(containerId, prefix, n, mode) {

            let container = document.getElementById(containerId);
            container.innerHTML = "";

            let table = document.createElement("table");
            let tr = document.createElement("tr");

            for (let j = 0; j < n; j++) {

                let td = document.createElement("td");

                if (mode === "classic") {

                    let inp = document.createElement("input");
                    inp.type = "number";
                    inp.id = `${prefix}_${j}`;
                    td.appendChild(inp);

                } else {

                    let L = document.createElement("input");
                    L.type = "number";
                    L.placeholder = "L";
                    L.id = `${prefix}_L_${j}`;

                    let M = document.createElement("input");
                    M.type = "number";
                    M.placeholder = "M";
                    M.id = `${prefix}_M_${j}`;

                    let R = document.createElement("input");
                    R.type = "number";
                    R.placeholder = "R";
                    R.id = `${prefix}_R_${j}`;
                    
                    L.onchange = () => autoSortTriangular(prefix, j);
                    M.onchange = () => autoSortTriangular(prefix, j);
                    R.onchange = () => autoSortTriangular(prefix, j);

                    td.append(L, " ", M, " ", R);
                }

                tr.appendChild(td);
            }

            table.appendChild(tr);
            container.appendChild(table);
        }

        function uploadFile() {

            let file = document.getElementById("fileInput").files[0];

            let formData = new FormData();
            formData.append("file", file);

            fetch("/upload", {
                method: "POST",
                body: formData
            })
                .then(r => r.json())
                .then(data => {

                    document.getElementById("m").value = data.m;
                    document.getElementById("n").value = data.n;
                    document.getElementById("lambda").value = data.lambda;

                    // 👉 ВАЖНО: переключаем режим
                    document.getElementById("mode").value = data.type;

                    generateGrids();

                    let m = data.m;
                    let n = data.n;

                    for (let i = 0; i < m; i++) {
                        for (let j = 0; j < n; j++) {
                            document.getElementById(`A_${i}_${j}`).value = data.A[i][j];
                        }
                        document.getElementById(`b_${i}`).value = data.b[i];
                    }

                    // --- CLASSIC ---
                    if (data.type === "classic") {
                        for (let j = 0; j < n; j++) {
                            document.getElementById(`c_${j}`).value = data.c[j];
                            document.getElementById(`d_${j}`).value = data.d[j];
                        }
                    }

                    // --- FUZZY ---
                    if (data.type === "fuzzy") {

                        for (let j = 0; j < n; j++) {

                            document.getElementById(`c_L_${j}`).value = data.cL[j];
                            document.getElementById(`c_M_${j}`).value = data.cM[j];
                            document.getElementById(`c_R_${j}`).value = data.cR[j];

                            document.getElementById(`d_L_${j}`).value = data.dL[j];
                            document.getElementById(`d_M_${j}`).value = data.dM[j];
                            document.getElementById(`d_R_${j}`).value = data.dR[j];
                        }
                    }

                });
        }

        function solve() {

            let m = +document.getElementById("m").value;
            let n = +document.getElementById("n").value;
            let mode = document.getElementById("mode").value;
            let method = document.getElementById("defuzz").value;
            let parallel = document.getElementById("parallelMode").value === "true";

            let A = [];
            let b = [];

            for (let i = 0; i < m; i++) {
                let row = [];
                for (let j = 0; j < n; j++) {
                    row.push(document.getElementById(`A_${i}_${j}`).valueAsNumber);
                }
                A.push(row);
                b.push(document.getElementById(`b_${i}`).valueAsNumber);
            }

            let payload = { m, n, A, b, lambda: +document.getElementById("lambda").value };
            payload.parallel = parallel;

            if (mode === "classic") {

                payload.type = "classic";
                payload.c = [];
                payload.d = [];

                for (let j = 0; j < n; j++) {
                    payload.c.push(document.getElementById(`c_${j}`).valueAsNumber);
                    payload.d.push(document.getElementById(`d_${j}`).valueAsNumber);
                }

            } else {

                payload.type = "fuzzy";

                payload.cL = [];
                payload.cM = [];
                payload.cR = [];

                payload.dL = [];
                payload.dM = [];
                payload.dR = [];

                for (let j = 0; j < n; j++) {

                    payload.cL.push(document.getElementById(`c_L_${j}`).valueAsNumber);
                    payload.cM.push(document.getElementById(`c_M_${j}`).valueAsNumber);
                    payload.cR.push(document.getElementById(`c_R_${j}`).valueAsNumber);

                    payload.dL.push(document.getElementById(`d_L_${j}`).valueAsNumber);
                    payload.dM.push(document.getElementById(`d_M_${j}`).valueAsNumber);
                    payload.dR.push(document.getElementById(`d_R_${j}`).valueAsNumber);
                }

                payload.defuzz = method;
            }

            fetch("/solve", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(payload)
            })
                .then(r => r.json())
                .then(data => {

                    document.getElementById("resultF").innerText = data.F;
                    document.getElementById("resultIndices").innerText = data.indices.join(", ");
                    document.getElementById("resultX").innerText =
                        data.x.map((v, i) => `x[${i}]=${v}`).join(", ");
                    document.getElementById("resultTime").innerText = data.time + " сек";
                });
        }

        window.onload = generateGrids;

    </script>

</body>

</html>